html,body{
    min-height:100%;
    min-width: 100%;
    background-image: url("images/new2.jfif");
    background-blend-mode: darken;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-size: 100vw;
}

#me{
    min-height:100vh;
    color:#ABA8C6;
}
.myphoto{
    border-radius: 50%;
    box-shadow: 8px 8px 10px rgb(9, 8, 17);
    margin:auto;
}
.item{
    margin:auto;
    height:35vh;
}

.flex{
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
#leave{
    background-image: url("images/new3.jpg");
}
textarea{
    opacity:0.7;
    size: 60vw;
}
h6{
    color:rgb(226, 232, 243);
    font-size: medium;
    text-shadow: 5px 5px 10px black;
    
}
h1,h3,.head{
    color:white;
    text-shadow: 6px 6px 10px black;
}
#space{
    width:85vw;
    margin:auto;
    background-image: url("images/background4.jpg");
    background-size: 100vw;
}
#aboutme, #works,#contacts{
    background-image:url("images/new3.jpg");
    box-shadow:10px 10px 15px black; 
    border-radius: 2vw;
    width:75vw;
    margin:auto;
    background-size: 100vw;

}
#aboutme,#works{
    padding:5%;
}
.myphoto{
    animation-name:shake;
    animation-duration: 2s;
    animation-delay: 0.5s;
}
@keyframes fadein{
    0%{
        opacity:1;
    }
    50%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}
@keyframes shake{
    0%{
        transform: scale(0.1);
    }
    50%{
        transform:scale(0.5);
    }
    100%{
        transform:scale(1);
    }
}
#arrow{
    animation-name:fadein;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
}
.fa{
    color:white;
}